<div class="level">
        <button type="button" name="button" class="choice-level">初级</button>
        <button type="button" name="button" class="choice-level">中级</button>
        <button type="button" name="button" class="choice-level">高级</button>
        <button type="button" name="button" class="restart">重新开始</button>
    </div>
    <div class="gameBox"></div>
    <div class="info">
        <p class="">
            剩余雷数 :
            <span class="residue"></span>
        </p>
        <p>
            TIME :
            <span class="tick"></span> S
        </p>
    </div>
<script type="text/javascript" src="assets/scanlei/jin.js"></script>
