<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">视频管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!console">首页</a>
          <a><cite>视频管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <!-- 搜索条件 -->
        <div class="layui-form toolbar">
            <form id="searchForm" onsubmit="return false;">
                视频名：<input name="videoName" class="layui-input search-input" type="text" placeholder="输入视频名"/>&emsp;
                <button id="video-btn-search" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
            </form>
        </div>
        <!-- 表格顶部操作列 -->
        <script type="text/html" id="video-toolbar">
            <div class="layui-btn-container">
                {{# if({{addShow}} == true){ }}
                <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add"><i
                        class="layui-icon">&#xe654;</i>添加
                </button>
                {{# } }}
            </div>
        </script>
        <!-- 数据表格 -->
        <table class="layui-table" id="video-table" lay-filter="video-table"></table>
    </div>
</div>
<!-- 表单弹窗 -->
<script type="text/html" id="video-model">
    <form id="video-form" lay-filter="video-form" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">视频名</label>
            <div class="layui-input-block">
                <input name="videoName" placeholder="请输入视频名" type="text" class="layui-input" maxlength="20"
                       lay-verify="required"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">来源</label>
            <div class="layui-input-block">
                <input name="source" placeholder="来源" type="text" class="layui-input" maxlength="20"
                       lay-verify="required"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">视频链接</label>
            <div class="layui-input-block">
                <textarea name="videoUrl" placeholder="请录入视频链接" class="layui-textarea" maxlength="1000"></textarea>
            </div>
        </div>
        <div class="layui-form-item model-form-footer">
            <button class="layui-btn layui-btn-primary close" type="button">取消</button>
            <button class="layui-btn" lay-filter="video-form-submit" lay-submit>保存</button>
        </div>
    </form>
</script>

<!-- 表格操作列 -->
<script type="text/html" id="video-table-bar">
    <a class="layui-btn layui-btn-radius layui-btn-normal layui-btn-xs" lay-event="play">播放</a>
    {{#  if({{editShow}} == true){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    {{#  } }}
    {{#  if({{deleteShow}} == true){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{#  } }}
</script>

<!-- 表格状态列 -->
<script type="text/html" id="video-tpl-status">
    <input type="checkbox" lay-filter="video-tpl-status" value="{{d.id}}" lay-skin="switch"
           lay-text="正常|禁用" {{d.status==0?'checked':''}}/>
</script>

<script type="text/html" id="video-play">
    <div align="center">
        <!--<video width="825" height="460" controls>-->
        <!--<source src="/assets/myself/waner.mp4" type="video/mp4">-->
        <!--您的浏览器不支持 video 标签。-->
        <!--</video>-->
        <iframe id="video_url" src="" frameborder="0" allowfullscreen="true" width="825" height="460"></iframe>
    </div>
    <br>
</script>

<script>
    layui.use(['form', 'table', 'config', 'crown'], function () {
        var form = layui.form;
        var table = layui.table;
        var config = layui.config;
        var layer = layui.layer;
        var crown = layui.crown;
        var $ = layui.jquery;

        $('#video-toolbar').vm({
            addShow: crown.hasPerm("source:video:add")
        });
        $('#video-table-bar').vm({
            editShow: crown.hasPerm("source:video:edit"),
            deleteShow: crown.hasPerm("source:video:delete")
        });
        //渲染表格
        var videoTable = table.render({
            elem: '#video-table',
            toolbar: '#video-toolbar',
            url: config.serverUrl + '/video',
            request: config.request,
            parseData: config.parseData,
            response: config.response,
            headers: {Authorization: config.getToken()},
            page: true,
            cols: [[
                {type: 'numbers'},
                {field: 'id', align: 'center', width: 60, sort: true, title: 'ID', hide: "true"},
                {field: 'videoName', width: 200, align: 'center', sort: true, title: '视频名'},
                {field: 'source', align: 'center', sort: true, title: '视频来源'},
                {field: 'videoUrl', align: 'center', sort: true, title: '视频链接'},
                {field: 'status', align: 'center', sort: true, templet: '#video-tpl-status', title: '状态'},
                {field: 'createTime', align: 'center', sort: true, title: '创建时间'},
                {field: 'updateTime', align: 'center', sort: true, title: '修改时间'},
                {align: 'center', toolbar: '#video-table-bar', title: '操作', width: 200}
            ]]
        });

        // 添加
        table.on('toolbar(video-table)', function (obj) {
            if (obj.event === 'add') {
                showEditModel();
            }
        });

        // 表单提交事件
        form.on('submit(video-form-submit)', function (data) {
            layer.load(2);
            if (data.field.id) {
                crown.put('/video/' + data.field.id, {data: data.field}, function () {
                    layer.closeAll('loading');
                    layer.msg('修改成功', {icon: 1});
                    videoTable.reload('video-table');
                    layer.closeAll('page');
                });
            } else {
                crown.post('/video', {data: data.field}, function () {
                    layer.closeAll('loading');
                    layer.msg('添加成功', {icon: 1});
                    videoTable.reload('video-table');
                    layer.closeAll('page');
                });
            }
            return false;
        });

        // 工具条点击事件
        table.on('tool(video-table)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') { //修改
                showEditModel(data);
            } else if (obj.event === 'del') { //删除
                doDelete(obj);
            } else if (obj.event === 'play') {
                showPlayModel(data);
            }
        });

        // 显示编辑弹窗
        var showEditModel = function (data) {
            layer.open({
                type: 1,
                title: data ? '修改视频' : '添加视频',
                area: '450px',
                offset: '120px',
                content: $('#video-model').html(),
                success: function () {
                    $('#video-form')[0].reset();
                    if (data) {
                        form.val('video-form', data);
                    }
                    $('#video-form .close').click(function () {
                        layer.closeAll('page');
                    });
                }
            });
        };
        // 显示编辑弹窗
        var showPlayModel = function (data) {
            layer.open({
                type: 1,
                title: '播放视频',
                area: ['830', '460'],
                offset: 'auto',
                content: $('#video-play').html(),
                success: function () {
                    $("#video_url").attr("src", data.videoUrl);
                }
            });
        };

        // 删除
        var doDelete = function (obj) {
            layer.confirm('确定要删除吗？', function (i) {
                layer.close(i);
                layer.load(2);
                crown.delete('/video/' + obj.data.id, {}, function () {
                    layer.closeAll('loading');
                    layer.msg('删除成功', {icon: 1});
                    obj.del();
                });
            });
        };

        // 搜索按钮点击事件
        $('#video-btn-search').click(function () {
            videoTable.reload({where: crown.getSearchForm()});
        });

        // 修改状态
        form.on('switch(video-tpl-status)', function (obj) {
            layer.load(2);
            crown.put('/video/' + obj.elem.value + '/status',
                {data: {status: obj.elem.checked ? 0 : 1}}, function () {
                    layer.closeAll('loading');
                    layer.msg('状态更新成功', {icon: 1});
                });
        });
    });
</script>