<div class="layui-row layui-col-space15">
    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header">
                访问量<span class="layui-badge layui-bg-blue pull-right">周</span>
            </div>
            <div class="layui-card-body">
                <p class="lay-big-font">9,999,999</p>
                <p>总计访问量<span class="pull-right">999,999,999万 <i class="layui-icon layui-icon-flag"></i></span></p>
            </div>
        </div>
    </div>
    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header">
                下载<span class="layui-badge layui-bg-black pull-right">月</span>
            </div>
            <div class="layui-card-body">
                <p class="lay-big-font">99,999,999</p>
                <p>新下载<span class="pull-right">30% <i class="layui-icon layui-icon-download-circle"></i></span></p>
            </div>
        </div>
    </div>
    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header">
                Start<span class="layui-badge layui-bg-green pull-right">周</span>
            </div>
            <div class="layui-card-body">
                <p class="lay-big-font">999,999</p>
                <p>总Start数<span class="pull-right">999万 <i class="layui-icon layui-icon-rate"></i></span></p>
            </div>
        </div>
    </div>
    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header">
                活跃用户<span class="layui-badge layui-bg-orange pull-right">月</span>
            </div>
            <div class="layui-card-body">
                <p class="lay-big-font">66,666</p>
                <p>最近一个月<span class="pull-right">15% <i class="layui-icon layui-icon-user"></i></span></p>
            </div>
        </div>
    </div>
</div>

<div class="layui-row layui-col-space15">
    <div class="layui-col-lg8 layui-col-md7">
        <div class="layui-card">
            <div class="layui-card-header">更新日志</div>
            <div class="layui-card-body">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>常规时间线</legend>
                </fieldset>
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">jay.2019</h3>
                            <p>
                                2019年2月9日，在美国拉斯维加斯举行个人演唱会；
                                <br>7月24日，宣布“嘉年华”世界巡回演唱会于10月启动，该演唱会是周杰伦庆祝出道20周年的演唱会 ；
                                <br>9月16日晚11点，发行单曲《说好不哭》，该歌曲由方文山作词，周杰伦、陈信宏共同演唱 ；
                                <br>10月17日，在上海举行“嘉年华”世界巡回演唱会的首场演出 ；
                                <br>11月1日，发行“地表最强”世界巡回演唱会Live专辑 。
                            </p>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">jay.2018</h3>
                            <p>
                                2018年1月6日，在新加坡举行“地表最强2”世界巡回演唱会的首场演出；
                                <br>1月18日，发行其个人作词、作曲的单曲《等你下课》，该曲由周杰伦与杨瑞代共同演唱；
                                <br>2月15日，在中央电视台春节联欢晚会上，周杰伦与蔡威泽合作表演魔术与歌曲《告白气球》，该节目在2018年央视春晚节目收视率TOP10榜单中位列第一位；
                                <br>5月15日，发行单曲《不爱我就拉倒》。
                            </p>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">8月16日</h3>
                            <p>杜甫的思想核心是儒家的仁政思想，他有<em>“致君尧舜上，再使风俗淳”</em>的宏伟抱负。个人最爱的名篇有：</p>
                            <ul>
                                <li>《登高》</li>
                                <li>《茅屋为秋风所破歌》</li>
                            </ul>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">8月15日</h3>
                            <p>
                                中国人民抗日战争胜利日
                                <br>常常在想，尽管对这个国家有这样那样的抱怨，但我们的确生在了最好的时代
                                <br>铭记、感恩
                                <br>所有为中华民族浴血奋战的英雄将士
                                <br>永垂不朽
                            </p>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">过去</div>
                        </div>
                    </li>
                </ul>

                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>简约时间线：大事记</legend>
                </fieldset>
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">2018年，layui 5.0 发布。并发展成为中国最受欢迎的前端UI框架（期望）</div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">2017年，layui 里程碑版本 2.0 发布</div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">2016年，layui 首个版本发布</div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">2015年，layui 孵化</div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">更久前，轮子时代。维护几个独立组件：layer等</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="layui-col-lg4 layui-col-md5">
        <div class="layui-card">
            <div class="layui-card-header">后台框架</div>
            <div class="layui-card-body">
                <table class="layui-table layui-text">
                    <colgroup>
                        <col width="130">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>核心框架</td>
                        <td>Spring Boot 2.x</td>
                    </tr>
                    <tr>
                        <td>持久层</td>
                        <td><a href="http://mp.baomidou.com" target="_blank">MyBatis-Plus 3.x</a></td>
                    </tr>
                    <tr>
                        <td>Github Star</td>
                        <td style="padding-bottom: 3px;">
                            <iframe src="http://ghbtns.com/github-btn.html?user=Caratacus&amp;repo=Crown&amp;type=watch&amp;count=true&amp;size=medium"
                                    allowtransparency="true" frameborder="0" scrolling="0" width="100px"
                                    height="20px"></iframe>
                        </td>
                    </tr>
                    <tr>
                        <td>Github Fork</td>
                        <td style="padding-bottom: 3px;">
                            <iframe src="http://ghbtns.com/github-btn.html?user=Caratacus&amp;repo=Crown&amp;type=fork&amp;count=true&amp;size=medium"
                                    allowtransparency="true" frameborder="0" scrolling="0" width="100px"
                                    height="20px"></iframe>
                        </td>
                    </tr>
                    <tr>

                        <td>Gitee Star</td>
                        <td style="padding-bottom: 3px;">
                            <a href='https://gitee.com/cancerGit/Crown/stargazers'><img
                                    src='https://gitee.com/cancerGit/Crown/badge/star.svg?theme=white' alt='star'/></a>
                        </td>
                    </tr>

                    <tr>

                        <td>Gitee Fork</td>
                        <td style="padding-bottom: 3px;">
                            <a href='https://gitee.com/cancerGit/Crown/members'><img
                                    src='https://gitee.com/cancerGit/Crown/badge/fork.svg?theme=white' alt='fork'/></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">前端框架</div>
            <div class="layui-card-body">
                <table class="layui-table layui-text">
                    <colgroup>
                        <col width="100">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>核心框架</td>
                        <td><a href="http://www.layui.com/" target="_blank">layui-v2.4.5</a></td>
                    </tr>
                    <tr>
                        <td>获取源码</td>
                        <td style="padding-bottom: 0">
                            <div class="layui-btn-container">
                                <a href="https://github.com/Caratacus/Crown" target="_blank"
                                   class="layui-btn layui-btn-danger">github</a>
                                <a href="https://gitee.com/cancerGit/Crown" target="_blank" class="layui-btn">gitee</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">友情链接</div>
            <div class="layui-card-body">
                <div class="layui-carousel crown-carousel crown-news">
                    <div carousel-item>
                        <div>
                            <a href="http://www.layui.com/" target="_blank" class="layui-bg-green">layui - 经典模块化前端框架</a>
                        </div>
                        <div>
                            <a href="http://www.layui.com" target="_blank" class="layui-bg-cyan">layui -
                                经典模块化前端框架</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['carousel', 'element'], function () {
        var carousel = layui.carousel;
        var element = layui.element;
        var device = layui.device;
        layui.link('assets/css/console.css');
        // 渲染轮播
        carousel.render({
            elem: '.layui-carousel',
            width: '100%',
            height: '60px',
            arrow: 'none',
            autoplay: true,
            trigger: device.ios || device.android ? 'click' : 'hover',
            anim: 'fade'
        });
    });
</script>